#text1
{
	height: 320px;
	width: 655px;
	margin-left: 3px;	
}

#text2
{
	height: 320px;
	width: 655px;
}

#text3
{
	height: 300px;
	width: 655px;
	margin-left: 3px;

}

#text4
{
	height: 300px;
	width: 655px;

}