#first section
{
	float: left;
	height: 315px;
	width: 655px;
	
	margin-left: 8px;	

}

#left1
{
	
}

#right1
{
	
}

#second section
{
	float: left;
	height: 315px;
	width: 655px;
		
	margin-left: 8px;		

}

#left2
{
	
}

#right2
{
	
}

#one
{
	height: 315px;
	width: 645px;
	overflow-y: scroll;
	padding-left: 11px
	border: 5px solid black;
}

#two
{
	height: 315px;
	width: 645px;
	overflow-y: scroll;
	border: 2px solid black;
}

#three
{
	height: 315px;
	width: 645px;
	overflow-y: scroll;
	border: 2px solid black;
}

#four
{
	height: 315px;
	width: 645px;
	overflow-y: scroll;
	border: 2px solid black;
}
