#first section
{
	float: left;
	height: 315px;
	width: 650px;
	border: 2px solid black;

}

#left1
{
	
}

#right1
{
	
}

#second section
{
	float: left;
	height: 315px;
	width: 650px;
	border: 2px solid black;

}

#left2
{
	
}

#right2
{
	
}

#one
{
	height: 315px;
	width: 645px;
	overflow-y: scroll;
	padding-left: 11px
	border: 2px solid black;
}

#two
{
	height: 315px;
	width: 645px;
	overflow-y: scroll;
	border: 2px solid black;
}

#three
{
	height: 315px;
	width: 645px;
	overflow-y: scroll;
	border: 2px solid black;
}

#four
{
	height: 315px;
	width: 645px;
	overflow-y: scroll;
	border: 2px solid black;
}
